[submodule "src/cmr_aruco"]
	path = src/cmr_aruco
	url = git@github.com:JMU-ROBOTICS-VIVA/ros2_aruco.git
[submodule "src/cmr_zed"]
	path = src/cmr_zed
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
