<?xml version="1.0"?>
<robot name="rover" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/include/robot_parts/chassis.xacro" />
  <xacro:include filename="$(find rover_description)/urdf/include/robot_parts/legs.xacro" />
  <xacro:include filename="$(find rover_description)/urdf/include/robot_parts/swerves.xacro" />
  <xacro:include filename="$(find rover_description)/urdf/include/robot_parts/wheels.xacro" />

  <xacro:include filename="$(find rover_description)/urdf/include/ros2_control/swerve_gazebo_ros2_control.xacro" />
  
  <xacro:include filename="$(find rover_description)/urdf/include/sensors/depth_camera_sensor.xacro" />
  <xacro:include filename="$(find rover_description)/urdf/include/sensors/gps_sensor.xacro" />
  <xacro:include filename="$(find rover_description)/urdf/include/sensors/imu_sensor.xacro" />

  <!--Including exact GPS so don't have to worry about localization in sim-->
  <xacro:include filename="$(find rover_description)/urdf/include/sensors/gps_exact.xacro" />

</robot>
