hidapi
pydualsense


### RUN THESE TO INSETALL NECESSARY DEPENDENCIES/LIBRARIES
### sudo apt install libhidapi-hidraw0 libhidapi-libusb0
### python3 -m pip install --user -r requirements.txt
### This is needed to properly run all the local ps5 controller scripts