<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">

    <xacro:arg name="use_gazebo" default="false" />

    <xacro:arg name="mock" default="true" />

    <xacro:include filename="$(find cmr_arm_description)/urdf/arm_description.urdf.xacro" />
    <xacro:include filename="$(find cmr_arm_description)/ros2_control/arm.ros2_control.xacro" />

    <xacro:arm />
    <xacro:arm_ros2_control name="arm" mock="$(arg mock)"/>

</robot>
